div#header
    a(href="/profile") Profile
    |  
    |  
    a(href="/login.html") Log In 
    |  
    |  
    a(href="/signup.html") Sign Up 
    |  
    |  
    a(href="/movies?page=1&Title=&Actors=&Genre=") Search 
    |  
    |  
    a(href="/app/addPerson.html") Add Person 
    |  
    |  
    a(href="/app/addMovie.html") Add Movie 
    |  
    |  
    a(href="/logout") Log Out
    br